[submodule "submodules/realsense2_description"]
	path = submodules/realsense2_description
	url = https://github.com/issaiass/realsense2_description
[submodule "submodules/realsense_gazebo_plugin"]
	path = submodules/realsense_gazebo_plugin
	url = https://github.com/issaiass/realsense_gazebo_plugin
[submodule "submodules/turtlebot3_simulations"]
	path = submodules/turtlebot3_simulations
	url = git@github.com:NIHALNAVALE/turtlebot3_simulations.git
	branch = noetic-devel
